* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #121213;
}
header {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 150px;
}
p{
  color: #fff;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  flex-direction: column;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;

}
.row {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}
.box {
  background-color: #121213;
  border: solid 1px #818384;
  height: 62px;
  width: 62px;
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.aa ,.a2, .a3, .a4, .a5, .a6{
  display: none;
}
.popup{
  color: #fff;
  display: none;
  padding-bottom: 20px;
}
.letter{
  width: 43px;
  height: 58px;
  background-color: #818384;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}
.keyboard{
  padding-top: 70px;
  flex-direction: column;
  gap: 10px;
}
.krow{
  gap:5px;
}
.letter:hover{
  cursor: pointer;
}